body{
    margin: 0;
    font-family: sans-serif;
    line-height: 1.4;
}
.slider__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.slider__btn button{
    cursor: pointer;
}
.slider__el{
    display: none;
}
.slider__el--show{
    display: block;
}
