.menu__list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #bada55;
	margin: 0;
	/* masquer le menu */
	transform: translateX(100%);
	/* animer l'ouverture/fermeture */
	transition: transform .4s ease-out;
}

.menu__toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 20;
	cursor: pointer;
}

.menu--open .menu__list {
	transform: translateX(0);
}

/* classes utilitaires */
.no-scroll {
	overflow: hidden;
}
